@media all and (min-width: 900px)
{
    /* --------------header------------ */
    header
    {
        background: url("images/desktop/image-hero.jpg") no-repeat;
        background-size: 100vw auto;
        width: 100%;
        height: 80vh;
        align-items:flex-start;
    }
    #menu-pannel
    {
        padding: 2em 2em;    
        margin: 0;
    }
    #header-logo
    {
        width:10vw;
    }

    #menu-btn {display: none;}
    #mobile-menu
    {
        display: flex;
        flex-direction: row;
        position: inherit;
        width:auto;
        background-color: rgba(0, 0, 0, 0);
    }
    #mobile-menu div
    {
        font-size: 1em;    
        text-transform: none;
        padding-left: 0em;   
        padding-bottom: 1em;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

    }
    #mobile-menu div:hover
    {
        border-bottom: 2px solid white;
        cursor: pointer;  
    } 
    #title-pannel
    {
        width: 50%;
        margin: 4% 0 0em 2em;
    }
    #title-pannel h1
    {
        font-size: 5vw;
    }
    /* --------------section 1------------ */
    #intro-pannel
    {
        width: 80%;
        display: flex;
        height: 50vh;
        margin-bottom: 10em;
    }
    #intro-pannel img
    {
        width:50vw;
        margin: 0 50% 0 0;
        display: block;
    }
    #intro-text-pannel
    {
        position:absolute;
        bottom:-76%;
        right:10%;
        margin: 0;
        
        width:30vw;
        padding: 5em 5em 0 5em;
        text-align: left;
        background-color: white;
    }
    #intro-text-pannel h2
    {
        font-size: 2.5em;
    }
    /* ------------section2--------- */
    #creation-pannel
    {
        width:80%;
        margin:0 auto;
    }
    #creation-pannel h2
    {
        text-align: left;
        margin: 0;        
    }
    #see-all{display:none;}

    #creation-title-pannel
    {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6em;
    }
    #see-all-desktop
    {
        display:block;
        border: 2px black solid;
        font-size: 0.5em;
        width:20%;    
        margin: 0;
    }
    #see-all-desktop:hover
    {
        background-color: black;
    }
    #see-all-desktop:hover #see-all-h2
    {
        color:white;
    }
    #see-all-desktop h2
    {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        line-height: 2.5;
        pointer-events: none;
    }

    #creation-grid
    {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:2em;
        grid-row-gap: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .grid-elem h3
    {
        text-shadow: 1px 0px 3px rgba(0,0,0,1);
        opacity: 1;
        width: 70%;
        font-size: 2.5vw;
        pointer-events: none;
    }
    .grid-elem img
    {
        width:100%;
        display: block;
        margin: 0;
        padding: 0;        
    }
    .grid-elem img:hover
    {
        filter: brightness(150%) contrast(20%) saturate(50%);
        cursor: pointer;
    }
    .grid-elem picture:hover + h3
    {
       color:rgb(0, 0, 0);
       text-shadow: 1px 0px 3px rgba(0,0,0,0);
    }
    body
    {
        width:auto;
    }

    /* -------------------footer----------------- */
    footer
    {
        height:auto;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #left-pannel
    {
        width:50%;
        margin-left: 10%;
    }
    #footer-logo
    {
        width: 35%;
        margin-top: 3em;
        margin-bottom: 1em;  
        margin-right: 70%;      
    }
    #menu
    {
        display:flex;
        gap: 2em;
    }
    #menu div
    {
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        padding-bottom: 1em;
    }
    #menu div:hover
    {
        border-bottom: 2px solid white;
        cursor: pointer;  
    }

    #right-pannel
    {
        width: 50%;
        margin-right: 10%;
    }
    #social-networks
    {
        margin-top: 2.5em;
        margin-left: 70%;

    }
    #social-networks img
    {
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        padding-bottom: 1em;
    }
    #social-networks img:hover
    {
        border-bottom: 2px solid white;
        cursor: pointer;  
    } 

    footer div
    {
        color:white;
        font-family: "Alata";    
    }
    #rights
    {
        color:grey;
        text-align: right;
    }
} 